.red {
    background-color: red;
}

.orange {
    background-color: orange;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}

.dodgerblue {
    background-color: dodgerblue;
}

.blue {
    background-color: blue;
}

.purple {
    background-color: purple;
}

.black {
    background-color: black;
}

.white {
    background-color: white;
}

.grey {
    background-color: grey;
}

.wrapper {
    padding-top: 12.8vmin;
    padding-bottom: 4.5vmin;
    text-align: center;
    color: #ffba63;
}

h1 {
    color: #ff8f00;
    margin-top: 0;
    margin-bottom: 3%;
    font-size: 12vw;
}

h2 {
    font-style: italic;
    margin-top: 3%;
    margin-bottom: 0;
    font-size: 8.7vw;
}

h3 {
    font-weight: 700;
    text-decoration: underline;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 5vw;
}
